body {
  background-color: #e2eafc !important;
  /* background-color: #edf2fb !important; */
  margin: 0;

  font-family: sans-serif;
  min-height: 100vh;
  padding-top: 60px;
}

.sub-title {
  color: slateblue;
  font-weight: bolder;
}

.text-color {
  color: slateblue;
}

.navbar {
  min-height: 60px;
  transition: all 0.2s ease;
  z-index: 1000;
}

.navbar .nav-link.link-color {
  color: white;
  font-weight: bolder;
  font-size: large;
}

.navbar .nav-link.link-color:hover {
  color: slateblue;
  font-weight: bolder;
  font-size: larger;
  transition: all 0.2s ease;
  text-shadow: 2px 2px 6px rgba(255, 0, 106, 0.5);
}
